@media only screen and (max-width: 1024px){
	img {max-width: 100%; width: auto;}
	#main{max-width: 98%; width: auto; padding: 0 1%;}
	#content{width: 68%;}
	#sidebar-primary{width: 30%;}
	#post-container{padding: 7% 5% 0 7%;}
	#container{max-width: 100%; width: auto;}
	#header-container{max-width: 100%; width: auto;}
	#logo{width: 57%; background-size: 100%; background-position: left center;}
	.menu-secondary li a{padding: 18px 9px; font-size: 12px;}
	#signup-sidebar-padding{width: 96%; padding: 15px 2%;}
	#widget_doifd_user_reg_form{padding: 5px 0 !important; width: 100% !important;}
	.widget ul{padding: 0;}
	.widget ul{text-align: center;}
	.widget-grey input[type="text"], .widget-grey input[type="email"], .widget-grey textarea, .widget-grey select{display: inline-block; margin: 2px 1% 6px !important; padding: 3px 2% 3px !important; width: 90% !important;}
	#event-sidebar-body{width: 92%; padding: 20px 4%;}
	.footer-widget-box1{width: 36%;}
	.footer-widget-box2{width: 26%;}
	.footer-widget-box3{width: 27%;}
	#top-social-profiles .widget-container{margin-top: 0; position: absolute; right: 0; top: 30px;}
	.menu-primary li a {font-size:12px; padding: 18px 18px;}
	#footer-widgets{width: 98%; padding: 0 1%;}
	.footer-widget-box1{width: 30%; margin: 0 1.5%;}
	.footer-widget-box2{width: 30%; margin: 0 1.5%;}
	.footer-widget-box3{width: 31%; margin: 0 1.5%;}
		.widget ul li {background-image:none;}
	#post-container img{height: auto;}
	
	#topsearch{display:none;}
	#coaching-right{float: none; margin-left: 240px; width: auto;}
	#form-container, #form-container-ebook{height: auto; width: 100%; float: left;}
	
	#form-container-left{width: 96%; padding: 25px 2% 10px 2%;}
	.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 textarea{width: 100%;}
	#form-container-right{padding: 0 3%; width: 94%;}
	.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select{width: 96%!important; padding: 3px 2%!important;}
	#ebook-leftcol{margin-right: 5%; width: 50%;}
	#ebook-rightcol{width: 40%;}
	
	#post-footer{margin-top: -8%;}
	.showing .showing_lft .showing_top ul li:nth-child(2n) {margin-right:0px;width:95%}
	.showing .showing_lft .showing_top ul li:nth-child(2n+1) {width: 95%;}
	
}

@media only screen and (max-width: 900px){
	.ux-ui-resources-coach-top{background-size: auto 125px; height: 125px; margin-top: 4px; width: 202px; float: right;}
	#logo{width: 66%;}
	
	.post img.alignleft{max-width: 50%; height: auto;}
	
	.footer-widget-box3 a{font-size: 13px;}
	
	.post img.alignleft.size-full{max-width: 100%;}
	.menu-primary li a {font-size: 10px; padding: 18px 14px;}
	#topsearch{display:none;}
}
@media only screen and (max-width: 768px){

	.footer-widget-box1{width: 100%; margin: 0;}
	.footer-widget-box2{width: 100%; margin: 0;}
	.footer-widget-box3{width: 100%; margin: 0;}
	.footer-widget-box2 img{float: left;}
	.footer-widget-box2 br{display: none;}
	.footer-widget-box2 .textwidget{float: left;}
	
	#topsearch{display:none;}
	
	.menu-secondary-container .menu-icon{display: block;}
	.menu-secondary-container .menus li{width: 100%; float: none;}
	.menu-secondary-container .menus li a{background: none; color: #FFF;}
	.menu-secondary-container .menus li a:hover{color: #222;}
	
	.menu-secondary-container{padding: 0;}
	.menu-secondary-container ul{width: 100%; margin: 0; position: absolute; top: 40px; padding: 5px 50px 2px 20px; background: #999; height: auto; display: none; z-index: 9999;}
	.menu-secondary li a{padding: 12px; 9px;}
	
	#signup-sidebar-padding{text-align: center;}
	#event-sidebar{padding: 10px 0; width: 100%;}
	.widgettitle, .widgettitle a, .widgettitle a:hover {padding: 5px 0px 2px 0px; width: 100%;}
	.menu-primary li a {font-size: 10px; padding: 18px 14px;}
	
}

@media only screen and (max-width: 640px){
		#content{width: 100%;}
	#sidebar-primary{width: 100%; margin: 0;}
	.ux-ui-resources-coach-top{margin-top: -1px;}
	#header-container{height: 129px;}
	#logo{margin: 0;}
	.mobile-header{display: block;}
	.menu-primary-container{width: 100%; margin: 0; position: absolute; top: 62px; padding: 0; background: #999; height: auto; display: none; z-index: 9999;}
	.menus li{width: 100%; float: none;}
	.menus li a, .menu-primary li.contact a{background: none; color: #FFF;}
	.menus li a:hover, .menu-primary li.contact a:hover{color: #222;}
	#menu-item-382{display: none;}

	#topsearch{visibility:hidden;}
	
	#logo{height: 98px; width: 58%;}
	.ux-ui-resources-coach-top{height: 100px; background-size: auto 100px; width: 162px;}
	#header-container{height: 59px; border-bottom:none;}
	#header{height: 99px;}
	#top-social-profiles {visibility:hidden;}
	
	.title{font-size: 22px;}
	
	#coaching-left{float: none; margin: 0; width: auto;}
	#coaching-container{width: auto;}
	#coaching-right{float: none; margin-left: 0; width: auto; padding: 0;}
	
	#ebook-leftcol{margin-right: 0; width: 100%;}
	#ebook-rightcol{width: 100%;}
	#form-container-header{height: auto;}
}

@media only screen and (max-width: 480px){
	#logo{height: 79px; width: 75%;}
	.ux-ui-resources-coach-top{height: 80px; background-size: auto 80px; width: 115px;}
	
	#header{height: 79px;}
	.footer-widget-box2 img{max-width: 40%;}

}

@media only screen and (max-width: 470px){
	.post img.alignleft.size-full{width: 100%;}
}

@media only screen and (max-width: 350px){
	#post-footer{min-width: 0; float: none;}
}